.header-container {
  display: flex;
  align-items: center; /* Выравнивание элементов по вертикали */
  justify-content: space-between; /* Логотип слева, кнопка справа */
  width: 100%;
  height: 94px;
  background-color: #f441ee;
  margin: 0;
  padding: 0 20px; /* Добавляем отступы по бокам */
  
}

/* Стили для логотипа */
.logo-container {
  display: flex;
  align-items: center;
  
}

.logo-container a {
  text-decoration: none; /* Убирает подчеркивание */
  color: white; /* Цвет текста логотипа */
}

.headText {
  font-size: 34px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  
}

/* Стили для кнопки */
.custom-purple-btn {
  background-color: #f441ee !important; /* Фиолетовый цвет фона */
  color: #fff !important; /* Белый цвет текста для контраста */
  padding: 10px 20px;
}

.custom-purple-btn:hover {
  background-color: #5a0ca0 !important; /* Темно-фиолетовый цвет при наведении */
  border-color: #5a0ca0 !important;
}

.custom-purple-btn:focus,
.custom-purple-btn:active {
  box-shadow: 0 0 0 0.2rem rgba(106, 13, 173, 0.5); /* Эффект тени при фокусе */
}
